@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes skeleton {
  from,
  to {
    mask-image: linear-gradient(
      90deg,
      #000 5%,
      rgb(0 0 0 / 50%) 25%,
      rgb(0 0 0 / 50%) 75%,
      #000 95%
    );
    mask-size: 400% 100%;
  }

  /* stylelint-disable-next-line keyframe-block-no-duplicate-selectors */
  from {
    mask-position: 200% 0;
  }

  /* stylelint-disable-next-line keyframe-block-no-duplicate-selectors */
  to {
    mask-position: -200% 0;
  }
}

/* stylelint-disable selector-id-pattern */
@layer base {
  html,
  body {
    @apply min-h-screen max-w-full overflow-x-hidden;
  }

  body {
    @apply flex flex-col bg-white font-sans selection:bg-gray-500/30 dark:bg-gray-900 dark:selection:bg-gray-400/40;

    -webkit-tap-highlight-color: transparent;

    > * {
      @apply w-full;
    }
  }

  body.grabbing {
    @apply cursor-grabbing;

    * {
      @apply pointer-events-none select-none;
    }
  }

  a,
  option,
  label,
  *[role="button"],
  button:not([disabled]),
  input:not([disabled]),
  textarea:not([disabled]),
  select:not([disabled]) {
    @apply touch-manipulation;
  }
}
/* stylelint-enable selector-id-pattern */

@layer utilities {
  .focusable {
    @apply box-decoration-clone focus-visible:!decoration-transparent focus-visible:outline-none focus-visible:ring focus-visible:ring-gray-500/40 dark:focus-visible:ring-gray-400/40;
  }

  .focusable-within {
    @apply box-decoration-clone focus-within:!decoration-transparent focus-within:outline-none focus-within:ring focus-within:ring-gray-500/40 dark:focus-within:ring-gray-400/40;
  }

  .highlight {
    @apply after:pointer-events-none after:absolute after:inset-0 after:z-10 after:rounded-[inherit];

    &::after {
      box-shadow: inset 0 0 0 1px rgb(0 0 0 / 6%);
    }
  }

  .highlight-invert {
    @apply after:pointer-events-none after:absolute after:inset-0 after:z-10 after:rounded-[inherit];

    &::after {
      box-shadow: inset 0 0 0 1px rgb(255 255 255 / 8%);
    }
  }

  .link {
    @apply focusable rounded-sm font-medium underline decoration-gray-600/20 decoration-2 underline-offset-2 transition selection:decoration-gray-600/20 hover:decoration-gray-600/40 focus-visible:decoration-transparent dark:decoration-white/20 dark:selection:decoration-white/20 dark:hover:decoration-white/40;
  }

  .link-invert {
    @apply decoration-white/20 selection:decoration-white/20 hover:decoration-white/40 dark:decoration-gray-600/20 dark:selection:decoration-gray-600/20 dark:hover:decoration-gray-600/40;
  }

  .perspective {
    perspective: 1000px;
  }
}

@layer components {
  .content {
    @apply mx-auto w-full max-w-screen-md px-5-safe;
  }

  .content-md {
    @apply lg:max-w-screen-md-8;
  }

  .content-lg {
    @apply lg:max-w-screen-md-12;
  }

  .skeleton {
    animation: 6s linear infinite skeleton;
  }
}

:not(pre) > code {
  @apply relative mx-[0.4em] whitespace-nowrap text-sm font-semibold before:absolute before:inset-x-[-0.4em] before:bottom-[-0.3em] before:top-[-0.25em] before:z-negative before:rounded-[0.4em] before:bg-gray-100 before:dark:bg-gray-750;
}
