@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wavy {
  from {
    transform: translateY(-3%);
  }

  to {
    transform: translateY(3%);
  }
}

@keyframes scroll {
  from {
    background-position: 50% 0%;
  }

  to {
    background-position: 50% 100%;
  }
}

@keyframes skeleton {
  from {
    background-position: 200% 0%;
  }

  to {
    background-position: -200% 0%;
  }
}

/* stylelint-disable selector-id-pattern */
@layer base {
  html,
  body,
  #__next {
    @apply min-h-screen max-w-full overflow-x-hidden;
  }

  body {
    @apply bg-white selection:bg-primary-500/30 dark:bg-zinc-900 dark:selection:bg-primary-400/40;

    -webkit-tap-highlight-color: transparent;
  }

  #__next {
    @apply flex flex-col;

    > * {
      @apply w-full;
    }
  }

  a,
  option,
  label,
  *[role="button"],
  button:not([disabled]),
  input:not([disabled]),
  textarea:not([disabled]),
  select:not([disabled]) {
    @apply touch-manipulation;
  }
}
/* stylelint-enable selector-id-pattern */

@layer utilities {
  .focusable {
    @apply box-decoration-clone focus:!decoration-transparent focus:outline-none focus:ring focus:ring-primary-500/40 dark:focus:ring-primary-400/40;
  }

  .highlight::after {
    @apply pointer-events-none absolute inset-0 z-10;

    content: "";
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 6%);
  }

  .highlight-invert::after {
    @apply pointer-events-none absolute inset-0 z-10;

    content: "";
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px rgb(255 255 255 / 8%);
  }

  .link {
    @apply focusable rounded-sm underline decoration-zinc-600/20 decoration-2 underline-offset-2 transition selection:decoration-zinc-600/20 hover:decoration-zinc-600/40 focus:decoration-transparent dark:decoration-white/20 dark:selection:decoration-white/20 dark:hover:decoration-white/40;
  }

  .link-invert {
    @apply decoration-white/20 selection:decoration-white/20 hover:decoration-white/40 dark:decoration-zinc-600/20 dark:selection:decoration-zinc-600/20 dark:hover:decoration-zinc-600/40;
  }

  .perspective {
    perspective: 1000px;
  }
}

@layer components {
  .content {
    @apply mx-auto max-w-screen-md px-5-safe;
  }

  .skeleton {
    background: linear-gradient(
      -90deg,
      theme("colors.zinc.100"),
      theme("colors.zinc.200"),
      theme("colors.zinc.200"),
      theme("colors.zinc.100")
    );
    background-size: 400% 100%;
    animation: 6s linear infinite skeleton;

    .dark & {
      background-image: linear-gradient(
        -90deg,
        theme("colors.zinc.700"),
        theme("colors.zinc.800"),
        theme("colors.zinc.800"),
        theme("colors.zinc.700")
      );
    }
  }
}

:not(pre) > code {
  @apply relative whitespace-nowrap text-sm font-semibold;

  margin: 0 0.4em;

  &::before {
    @apply absolute z-negative bg-zinc-100 dark:bg-zinc-750;

    content: "";
    inset: -0.25em -0.4em -0.3em;
    border-radius: 0.4em;
  }
}

.counter {
  mask-image: linear-gradient(
    0deg,
    transparent 0%,
    black 25%,
    black 75%,
    transparent 100%
  );
}

.portrait span {
  @apply align-top;
}

.delightful span[data-character] {
  @apply relative inline-block;

  animation: 0.8s ease-in-out calc(var(--character) * -0.1s) infinite alternate
    both wavy;
}

.wave {
  @apply relative translate-y-px;

  height: 4px;
  background: url("data:image/svg+xml,%3Csvg width='20' height='4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1c3 0 3 2 5 2 3 0 3-2 5-2 3 0 3 2 5 2 3 0 3-2 5-2' stroke='%23e4e4e7'/%3E%3C/svg%3E");

  .dark & {
    background: url("data:image/svg+xml,%3Csvg width='20' height='4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1c3 0 3 2 5 2 3 0 3-2 5-2 3 0 3 2 5 2 3 0 3-2 5-2' stroke='%23333338'/%3E%3C/svg%3E");
  }

  &::before,
  &::after {
    @apply absolute h-full w-16 max-w-full from-white dark:from-zinc-900;

    content: "";
  }

  &::before {
    @apply left-0 bg-gradient-to-r;
  }

  &::after {
    @apply right-0 bg-gradient-to-l;
  }
}

.elements {
  background: linear-gradient(
    0deg,
    theme("colors.violet.500"),
    theme("colors.blue.500"),
    theme("colors.cyan.500"),
    theme("colors.emerald.500"),
    theme("colors.yellow.500"),
    theme("colors.orange.500"),
    theme("colors.rose.500"),
    theme("colors.violet.500"),
    theme("colors.blue.500")
  );
  background-size: 100% 800%;
  animation: 20s linear infinite both scroll;

  span {
    @apply z-10;
  }

  &::before,
  &::after {
    @apply absolute bottom-0 z-0 bg-white;

    content: "";
    width: 20%;
    height: 10%;
  }

  &::before {
    @apply left-0;
  }

  &::after {
    @apply right-0;
  }
}

.elements-offset {
  animation-delay: -2s;
}

.transform-framer {
  transform: rotateX(16deg) rotateY(-20deg) rotateZ(8deg) translateX(-2%);
}

.transform-motion-primary {
  transform: rotateX(18deg) rotateY(-20deg) rotateZ(8deg) translateX(-2%);
}

.transform-motion-secondary {
  transform: rotateX(12deg) rotateY(16deg) rotateZ(-4deg) translateX(2%);
}

.transform-elements {
  transform: rotateX(6deg) rotateY(-12deg) rotateZ(4deg) translateX(-2%);
}
