@reference "../../styles/main.css";

.codeHighlight {
  --line-numbers-width: 1ch;

  pre {
    @apply outline-none py-[0.75em] cursor-text;
  }

  pre,
  span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);

    :global(.dark) & {
      color: var(--shiki-dark);
      background-color: var(--shiki-dark-bg);
    }
  }

  code {
    counter-reset: step;
    counter-increment: step 0;

    :global(.line)::before {
      width: var(--line-numbers-width);

      content: counter(step);
      counter-increment: step;
      @apply inline-block text-right select-none text-current/40 mx-[1em];
    }
  }
}
