@reference "../styles/main.css";

@keyframes aura-rainbow {
  from {
    transform: translateY(var(--aura-rainbow-offset)) rotate(0deg);
  }

  to {
    transform: translateY(var(--aura-rainbow-offset)) rotate(-360deg);
  }
}

.auraMask {
  mask-image: radial-gradient(farthest-side at center -100%, #000, transparent);
}

.auraRaysMask {
  mask-image: linear-gradient(
      50deg,
      transparent 32%,
      #000 36%,
      transparent 38%,
      rgb(0 0 0 / 75%) 43%,
      transparent 47%,
      transparent 51%,
      rgb(0 0 0 / 50%) 54%,
      transparent 56%,
      #000 62%,
      rgb(0 0 0 / 35%) 65%,
      rgb(0 0 0 / 75%) 66%,
      transparent 71%
    ), linear-gradient(0deg, transparent 20%, rgb(0 0 0 / 60%));
  mask-position: 60% 0%, 0% 0%;
  mask-size: 300% auto, auto;

  @media (width >= theme(--breakpoint-sm)) {
    mask-size: 200% auto, auto;
  }

  @media (width >= theme(--breakpoint-md)) {
    mask-position: 50% 0%, 0% 0%;
    mask-size: 110% auto, auto;
  }
}

.auraRainbowGradient {
  background: conic-gradient(
    var(--color-red-500),
    var(--color-pink-500),
    var(--color-violet-500),
    var(--color-blue-500),
    var(--color-sky-500),
    var(--color-teal-500),
    var(--color-lime-500),
    var(--color-amber-500),
    var(--color-red-500)
  );
  animation: 8s linear infinite aura-rainbow;

  :global(.dark) & {
    background: conic-gradient(
      var(--color-red-300),
      var(--color-pink-300),
      var(--color-violet-300),
      var(--color-blue-300),
      var(--color-sky-300),
      var(--color-teal-300),
      var(--color-lime-300),
      var(--color-amber-300),
      var(--color-red-300)
    );
  }
}
