/* stylelint-disable selector-class-pattern */

@keyframes scroll-gradient {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-87.5%);
  }
}

.liveblocksThreadTransform {
  transform: rotateX(26deg) rotateY(14deg) rotateZ(-10deg) translateX(2%);
}

.liveblocksInboxTransform {
  transform: rotateX(14deg) rotateY(6deg) rotateZ(-4deg) translateX(-2%);
}

.liveblocksCodeTransform {
  transform: rotateX(16deg) rotateY(18deg) rotateZ(-6deg) translateX(2%);
}

.liveblocksDevtoolsTransform {
  transform: rotateX(16deg) rotateY(-20deg) rotateZ(8deg) translateX(-2%);
}

.liveblocksIoMarketingTransform {
  transform: rotateX(18deg) rotateY(-16deg) rotateZ(8deg) translateX(-2%);
}

.liveblocksIoProductTransform {
  transform: rotateX(26deg) rotateY(22deg) rotateZ(-12deg) translateX(2%);
}

.framerComTransform {
  transform: rotateX(16deg) rotateY(-20deg) rotateZ(8deg) translateX(-2%);
}

.motionVideoTransform {
  transform: rotateX(18deg) rotateY(-20deg) rotateZ(8deg) translateX(-2%);
}

.motionStaticTransform {
  transform: rotateX(12deg) rotateY(16deg) rotateZ(-4deg) translateX(2%);
}

.elementsTransform {
  transform: rotateX(6deg) rotateY(-12deg) rotateZ(4deg) translateX(-2%);
}

.masterPhoneTransform {
  transform: rotate(-8deg);
}

.masterHeadsetTransform {
  transform: rotate(-6deg);
}

.masterThesisTransform {
  transform: rotate(6deg);
}

.phoneShadow {
  @apply before:absolute before:inset-0 before:rounded-[inherit];

  &::before {
    box-shadow:
      inset 1px 1px 8px rgb(255 255 255 / 80%),
      inset -1px -1px 8px rgb(0 0 0 / 10%);

    :global(.dark) & {
      box-shadow:
        inset 1px 1px 8px rgb(255 255 255 / 20%),
        inset -1px -1px 8px rgb(0 0 0 / 80%);
    }
  }
}

.scrollGradient {
  @apply before:absolute before:h-[800%] before:w-full;

  &::before {
    background: linear-gradient(
      0deg,
      theme("colors.violet.500"),
      theme("colors.blue.500"),
      theme("colors.cyan.500"),
      theme("colors.emerald.500"),
      theme("colors.yellow.500"),
      theme("colors.orange.500"),
      theme("colors.rose.500"),
      theme("colors.violet.500"),
      theme("colors.blue.500")
    );
    animation: 20s linear infinite alternate both scroll-gradient;
  }
}

.scrollGradientDelayed::before {
  animation-delay: -4s;
}

.bookCoverGradient,
.bookBackCoverGradient {
  @apply before:pointer-events-none before:absolute before:inset-0 before:z-10 before:rounded-[inherit];

  &::before {
    background-image: linear-gradient(
      90deg,
      rgb(0 0 0 / 12%) 0.5%,
      rgb(255 255 255 / 20%) 1.5%,
      rgb(255 255 255 / 10%) 2.5%,
      rgb(0 0 0 / 5%) 3.5%,
      rgb(255 255 255 / 14%) 5.5%,
      transparent 7%,
      transparent 96%,
      rgb(255 255 255 / 14%) 100%
    );
  }
}

.bookBackCoverSecondaryGradient {
  @apply after:pointer-events-none after:absolute after:inset-0 after:z-10 after:rounded-[inherit];

  &::after {
    background-image: linear-gradient(
      180deg,
      transparent 94%,
      rgb(0 0 0 / 20%) 96%,
      transparent 100%
    );
  }
}

.bookPagesGradient {
  background-image: linear-gradient(
      180deg,
      rgb(0 0 0 / 20%) 96%,
      transparent 100%
    ),
    repeating-linear-gradient(
      transparent,
      transparent 1px,
      rgb(0 0 0 / 12%) 1px,
      rgb(0 0 0 / 12%) 2px
    );
}

.bright {
  @apply !m-0;

  pre {
    --line-number-color: rgb(255 255 255 / 30%);

    @apply !overflow-hidden !bg-transparent !px-0 !py-[0.5em] selection:!bg-white/10;
  }
}
