@reference "../../styles/main.css";

@keyframes scroll-gradient {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-87.5%);
  }
}

.phoneShadow {
  @apply before:absolute before:inset-0 before:rounded-[inherit];

  &::before {
    box-shadow:
      inset 1px 1px 8px rgb(255 255 255 / 80%),
      inset -1px -1px 8px rgb(0 0 0 / 10%);
  }

  :global(.dark) &::before {
    box-shadow:
      inset 1px 1px 8px rgb(255 255 255 / 20%),
      inset -1px -1px 8px rgb(0 0 0 / 80%);
  }
}

.scrollGradient {
  @apply before:absolute before:h-[800%] before:w-full;

  &::before {
    background: linear-gradient(
      0deg,
      var(--color-violet-500),
      var(--color-blue-500),
      var(--color-cyan-500),
      var(--color-emerald-500),
      var(--color-yellow-500),
      var(--color-orange-500),
      var(--color-rose-500),
      var(--color-violet-500),
      var(--color-blue-500)
    );
    animation: 20s linear infinite alternate both scroll-gradient;
  }
}

.scrollGradientDelayed::before {
  animation-delay: -4s;
}

.bookCoverGradient,
.bookBackCoverGradient {
  @apply before:pointer-events-none before:absolute before:inset-0 before:z-1 before:rounded-[inherit];

  &::before {
    background-image: linear-gradient(
      90deg,
      rgb(0 0 0 / 12%) 0.5%,
      rgb(255 255 255 / 20%) 1.5%,
      rgb(255 255 255 / 10%) 2.5%,
      rgb(0 0 0 / 5%) 3.5%,
      rgb(255 255 255 / 14%) 5.5%,
      transparent 7%,
      transparent 96%,
      rgb(255 255 255 / 14%) 100%
    );
  }
}

.bookBackCoverSecondaryGradient {
  @apply after:pointer-events-none after:absolute after:inset-0 after:z-1 after:rounded-[inherit];

  &::after {
    background-image: linear-gradient(
      180deg,
      transparent 94%,
      rgb(0 0 0 / 20%) 96%,
      transparent 100%
    );
  }
}

.bookPagesGradient {
  background-image:
    linear-gradient(180deg, rgb(0 0 0 / 20%) 96%, transparent 100%),
    repeating-linear-gradient(
      transparent,
      transparent 1px,
      rgb(0 0 0 / 12%) 1px,
      rgb(0 0 0 / 12%) 2px
    );
}

.codeHighlight {
  pre,
  span {
    @apply !bg-transparent;
  }
}
